* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #b6ab94;
  line-height: 1;
  font-family: "Istok Web",sans-serif;
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}

input,
button,
textarea {
  font-family: "Istok Web",sans-serif;
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: rgba(0,0,0,0);
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

svg,
img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper>main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper>* {
  min-width: 0;
}

.container {
  max-width: 84.375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.spollers__item:last-child .spollers__title {
  border-bottom: .125rem solid #b6ab94;
}

.spollers__title {
  width: 100%;
  cursor: default;
  padding: 1rem 3.4375rem 1rem 1.875rem;
  text-align: center;
  position: relative;
  list-style: none;
  border-top: .125rem solid #b6ab94;
}

._spoller-init .spollers__title {
  cursor: pointer;
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  position: absolute;
  translate: 0 -50%;
  top: 50%;
}

._spoller-init .spollers__title::before {
  left: 0;
  content: "0" counter(counter);
  font-size: 1.5rem;
  line-height: 90.72%;
}

._spoller-init .spollers__title::after {
  content: "";
  mask: url("../img/icons/arrow.svg") no-repeat center/contain;
  -webkit-mask: url("../img/icons/arrow.svg") no-repeat center/contain;
  background-color: #b6ab94;
  width: 2.4375rem;
  height: 1.375rem;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  right: 1rem;
}

._spoller-init .spollers__title._spoller-active {
  color: #fff;
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.spollers__body {
  padding: 2.5rem 0;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title,
.profit__title,
.modular__title,
.projects__title,
.second-screen__title,
.hero__title,
.reviews__title,
.unlock__title {
  font-family: "Roboto",sans-serif;
  font-weight: 300;
  font-size: 4rem;
  line-height: 90%;
}

.title-lg,
.work-page__title,
.finance-start__title,
.finance-tail__title,
.finance-hero__title,
.dev-nation__title,
.dev-acc__title,
.dev-lot__title,
.dev-prem__title {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 10.15873vh;
  line-height: 90%;
  color: #b6ab94;
}

.description,
.finance-start__text,
.finance-tail__text,
.finance-hero__text,
.dev-nation__text,
.dev-acc__text,
.dev-prem__text {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 3rem;
  line-height: 121%;
  color: #b6ab94;
}

.full-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.description-sm,
.dev-lot__text {
  font-family: "Roboto",sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 121%;
  color: #b6ab94;
}

.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
}

.hidden {
  display: none;
}

.calculator-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.display-grid,
.finance-start__content,
.finance-tail-card__inner,
.finance-tail__bottom,
.finance-tail__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .5fr 1fr;
  grid-template-columns: .5fr 1fr;
  gap: 1rem;
}

.container-md,
.dev-lot__inner,
.dev-prem {
  max-width: 96.25rem;
  padding: 0 1.25rem;
  margin: 0 auto;
}

.calculator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .1875rem;
}

.calculator input,
.calculator__button,
.calculator__send {
  height: 8.5vh;
  aspect-ratio: 1/1;
}

.calculator input {
  width: 100%;
  background-color: rgba(0,0,0,0);
  color: #b6ab94;
  border: .0625rem solid #7d7d7d;
  border-radius: 1.0625rem;
  padding: .875rem 1.75rem;
}

.calculator input::-webkit-input-placeholder {
  color: inherit;
}

.calculator input::-moz-placeholder {
  color: inherit;
}

.calculator input:-ms-input-placeholder {
  color: inherit;
}

.calculator input::-ms-input-placeholder {
  color: inherit;
}

.calculator input::placeholder {
  color: inherit;
}

.calculator__display input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  font-weight: 700;
  font-size: 3rem;
}

.calculator__buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: .1875rem;
}

.calculator__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .9375rem;
  border: 1px solid #7d7d7d;
  border-radius: 1.0625rem;
  font-family: "Inter",sans-serif;
  font-size: 1.25rem;
  color: #b6ab94;
}

.calculator__button--lg {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  aspect-ratio: 2/1;
}

.calculator__item {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.calculator__item input {
  font-family: "Roboto",sans-serif;
}

.calculator__send {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .875rem;
  background: #b6ab94;
  border-radius: 1.0625rem;
  font-family: "Roboto",sans-serif;
  font-size: 1.25rem;
  color: #121212;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .5fr 1fr .5fr;
  grid-template-columns: .5fr 1fr .5fr;
  padding: 1rem 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__actions {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .9375rem;
}

.header .menu__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7.4375rem;
}

.header .menu__list a {
  font-size: .75rem;
  line-height: 128%;
  text-align: center;
  text-transform: uppercase;
}

.header-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 3.5625rem;
  aspect-ratio: 1/1;
  border: .0625rem solid #3b3b3b;
  border-radius: 50%;
}

.icon-menu {
  display: none;
}

.faq {
  min-height: 100vh;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq .container {
  width: 100%;
}

.faq .spollers {
  max-width: 72.75rem;
  width: 100%;
  margin: 0 auto;
  counter-reset: counter;
}

.faq .spollers__title {
  counter-increment: counter;
  position: relative;
}

.faq-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}

.faq-content__text {
  max-width: 16.25rem;
  font-family: "Roboto",sans-serif;
  line-height: 90.72%;
  color: #fff;
}

.unlock {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.unlock__inner {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.unlock__title {
  text-align: center;
  color: #121212;
  max-width: 57.0625rem;
  margin: 0 auto;
}

.unlock__text {
  color: #000;
  text-align: center;
  max-width: 41.5625rem;
  margin: 0 auto;
  font-family: "Roboto",sans-serif;
  font-size: 20px;
  line-height: 1.15;
}

.calculate-item {
  padding: .625rem .4375rem .875rem;
  background: #b6ab94;
  border-radius: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .75rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 11.9375rem;
}

.calculate-item__icon {
  margin-left: auto;
}

.calculate-item__btn {
  font-size: .75rem;
  line-height: 128%;
  text-align: center;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #000;
  margin-right: auto;
}

.calculate-item--lg {
  min-height: 12.25rem;
  width: 8.4375rem;
}

.reviews {
  position: relative;
  min-height: 100vh;
  padding: 4.6875rem 0;
}

.no-webp .reviews::before {
  background: url("../img/decors/review-decor-2.png") top left/contain no-repeat; }

.reviews::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 82.75rem;
  height: 52.8125rem;
  translate: -15% -53%;
  content: "";
  z-index: -1;
}

.reviews__head {
  max-width: 44.25rem;
  margin: 0 auto 1.9375rem;
  text-align: center;
  padding: 0 .9375rem;
}

.reviews__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
}

.review-item {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.review-item:nth-child(even) {
  margin: -3.4375rem 0;
}

.review-item__body {
  position: absolute;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.review-item__head {
  padding: 1rem .875rem 1rem 2.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}

.review-item__add {
  font-size: 0;
  line-height: 0;
  font-weight: 0;
  aspect-ratio: 1/1;
  width: 1.125rem;
  mask: url("../img/icons/plus.svg") no-repeat center/contain;
  -webkit-mask: url("../img/icons/plus.svg") no-repeat center/contain;
  background-color: #b6ab94;
}

.review-item__show {
  font-size: 0;
  line-height: 0;
  font-weight: 0;
  aspect-ratio: 1/1;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #b6ab94;
  border-radius: 50%;
  width: 4.5625rem;
  font-size: 0;
  rotate: -45deg;
}

.review-item__show::after {
  display: inline-block;
  content: "";
  mask: url("../img/icons/arrow.svg") no-repeat center/contain;
  -webkit-mask: url("../img/icons/arrow.svg") no-repeat center/contain;
  background-color: #000;
  width: 1.375rem;
  aspect-ratio: 1/1;
}

.review-item__content {
  padding: 1.25rem;
  max-width: 24.5rem;
}

.review-item__title {
  font-family: "Roboto",sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 90%;
  margin-bottom: .875rem;
}

.review-item__text {
  font-family: "Roboto",sans-serif;
  font-size: 1rem;
  line-height: 146%;
}

.hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__content {
  padding: 1.8125rem;
  min-height: 100vh;
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  gap: 2.5625rem;
}

.second-screen {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.second-screen__content {
  min-height: 100vh;
  padding: 14.125rem 0;
}

.second-screen__title {
  max-width: 23.125rem;
  color: #000;
}

.projects__inner {
  min-height: 100vh;
  padding: 8.1875rem 0;
}

.projects__head {
  text-align: center;
  max-width: 59.4375rem;
  margin: 0 auto 8.4375rem;
  padding: 0 .9375rem;
}

.projects-slider {
  position: relative;
}

.projects-slider__nav {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 45vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects-button-prev,
.projects-button-next {
  width: 7.875rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects-button-prev::before,
.projects-button-next::before {
  display: inline-block;
  content: "";
  width: 2.4375rem;
  height: 1.375rem;
  mask: url("../img/icons/arrow.svg") no-repeat center/contain;
  -webkit-mask: url("../img/icons/arrow.svg") no-repeat center/contain;
  background-color: #000;
}

.projects-button-next {
  display: none;
}

.projects-button-next::before {
  rotate: 180deg;
}

.modular {
  overflow: hidden;
  position: relative;
  background-position: center;
  background-size: center;
  background-repeat: no-repeat;
}

.modular__decor {
  position: absolute;
  rotate: -45deg;
  left: -30%;
  top: 10%;
  max-height: 47.5rem;
}

.modular__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 6.8125rem 0 .875rem;
  min-height: 100vh;
}

.modular__title {
  max-width: 18.5625rem;
}

.modular .calculate-item {
  margin-left: 22px;
}

.contacts {
  position: relative;
}

.contacts__decor {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  rotate: -45deg;
  height: 47.5rem;
}

.contacts__inner {
  position: relative;
  z-index: 1;
  padding: 1.4375rem .9375rem;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts__logo {
  margin-bottom: 3.1875rem;
}

.contacts__title {
  font-family: "Roboto",sans-serif;
  font-weight: 900;
  font-size: 9.375rem;
  line-height: 1.173;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0,0,0,0);
  white-space: nowrap;
  -webkit-text-stroke: .0625rem #3b3b3b;
  text-stroke: .0625rem #3b3b3b;
  margin-bottom: 2.625rem;
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .875rem;
  margin-bottom: 8.125rem;
}

.contacts__list li {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 90.72%;
  text-align: center;
}

.contacts__list li a {
  text-decoration: underline;
}

.contacts__btn {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.5625rem;
  aspect-ratio: 1/1;
  background-color: #b6ab94;
  border-radius: 50%;
}

.contacts__btn::before {
  display: inline-block;
  content: "";
  aspect-ratio: 1/1;
  width: 1.125rem;
  mask: url("../img/icons/arrow.svg") no-repeat center/contain;
  -webkit-mask: url("../img/icons/arrow.svg") no-repeat center/contain;
  background-color: #000;
  rotate: 90deg;
}

.contacts__copy {
  font-family: "Inter",sans-serif;
  font-size: 1.25rem;
  line-height: 1.2;
  color: #383838;
  margin-top: 8.125rem;
}

.profit__inner {
  min-height: 100vh;
  padding: 6.8125rem 0;
}

.profit__title {
  max-width: 18.5625rem;
  position: relative;
  z-index: 1;
}

.profit__body {
  margin-top: -5.625rem;
}

.profit-slide {
  padding-left: 11.125rem;
  position: relative;
  max-width: 82.5rem;
  padding-bottom: 8rem;
  margin-left: 15vw;
}

.profit-slide__img {
  width: 59.375rem;
}

.profit-slide__text {
  font-family: "Roboto",sans-serif;
  font-size: 1.5rem;
  line-height: 90.72%;
  color: #fff;
  max-width: 14.4375rem;
  position: absolute;
  top: 3.125rem;
  right: 0;
}

.profit-slide__price {
  font-family: "Jost",sans-serif;
  font-weight: 300;
  font-size: 18.75rem;
  line-height: 90.72%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.lottie-container .animation {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: -1;
}

.end-lottie {
  position: absolute;
  top: 100vh;
  height: 1px;
  width: 100%;
}

.dev-hero {
  position: relative;
  padding: 6.25rem 1.25rem 1.25rem;
  height: 100vh;
}

.dev-hero__bg {
  position: absolute;
  inset: 0;
  z-index: -1;
  margin-top: 6.25rem;
}

.dev-hero__title {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  font-weight: 200;
  font-family: "Roboto",sans-serif;
  font-size: 12.5rem;
  line-height: 90%;
  text-align: center;
  text-transform: uppercase;
  color: #b6ab94;
  translate: -50% -50%;
}

.dev-hero__img {
  position: absolute;
  inset: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
  grid-template-columns: repeat(7, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dev-hero__img::after {
  position: absolute;
  inset: 0;
  content: "";
  background-color: rgba(0,0,0,.43);
  pointer-events: none;
}

.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  inset: 0;
  gap: .375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.no-webp .image-container__block {
  background: url("../img/dev-hero-bg.jpg") center/auto no-repeat; }

.image-container__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.image-container__block::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,.43);
  pointer-events: none;
}

.image-container__block:nth-child(1) {
  background-position-x: 0%;
  height: 74%;
}

.image-container__block:nth-child(2) {
  background-position-x: 6%;
  height: 45%;
}

.image-container__block:nth-child(3) {
  background-position-x: 1%;
  height: 90%;
}

.image-container__block:nth-child(4) {
  height: 80%;
  background-position-x: 1%;
}

.image-container__block:nth-child(5) {
  background-position-x: 1%;
  height: 40%;
}

.image-container__block:nth-child(6) {
  height: 60%;
  background-position-x: 1%;
}

.image-container__block:nth-child(7) {
  background-position-x: 1%;
  height: 90%;
}

.dev-prem {
  position: relative;
  padding-top: 11.375rem;
}

.dev-prem__content {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dev-prem__title {
  max-width: 73rem;
}

.dev-prem__text {
  max-width: 64.25rem;
}

.dev-prem__img {
  position: absolute;
  top: 50%;
  translate: 40% -50%;
  z-index: -1;
  right: 0;
  width: 89.9375rem;
  max-width: 75vw;
}

.dev-lot {
  background-position: center;
  background-size: cover;
  position: relative;
}

.dev-lot::after {
  position: absolute;
  inset: 0;
  content: "";
  background-color: rgba(0,0,0,.73);
  pointer-events: none;
}

.dev-lot__inner {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}

.dev-lot__content {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4.6875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dev-lot__title {
  max-width: 59.1875rem;
}

.dev-lot__text {
  max-width: 37.3125rem;
}

.dev-acc {
  padding: 8.75rem 0 0;
}

.dev-acc__inner {
  position: relative;
}

.dev-acc__title {
  margin-bottom: 8.625rem;
}

.dev-acc__text {
  max-width: 53.75rem;
  margin-left: auto;
  margin-bottom: 9.9375rem;
}

.dev-acc__img {
  border-radius: 1.875rem;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.dev-nation {
  margin-top: -17vw;
}

.dev-nation__top {
  padding-top: 24vw;
  background-color: #b6ab94;
}

.dev-nation__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dev-nation__title {
  margin-bottom: 4.4375rem;
  color: #000;
  max-width: 64.375rem;
}

.dev-nation__map {
  margin: 4.4375rem auto 7.3125rem;
  max-width: 77.875rem;
}

.dev-nation__text {
  max-width: 60.9375rem;
  margin: 0 0 6.375rem auto;
  color: #000;
}

.dev-nation__img {
  width: 100%;
  padding: 0 4.625rem;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.dev-nation__bottom {
  margin-top: -17vw;
  background-color: #000;
  padding-top: 24vw;
  padding-bottom: 9.6875rem;
}

.dev-nation__calculate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.finance-hero__bg {
  position: absolute;
  z-index: -1;
  aspect-ratio: 1/.84;
  left: 50%;
  top: 50%;
  translate: -50% -40%;
  width: 120%;
  display: none;
}

.finance-hero__bg img {
  rotate: 27deg;
}

.finance-hero__inner {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.625rem;
  text-align: center;
}

.finance-hero__title {
  text-align: center;
  max-width: 51.0625rem;
  margin: 0 auto;
}

.finance-hero__title img {
  height: .752em;
  vertical-align: middle;
}

.finance-hero__text {
  max-width: 72.0625rem;
  margin: 0 auto;
}

.finance-hero__decors {
  position: absolute;
  z-index: -1;
  inset: 0;
}

.finance-hero__decor {
  position: absolute;
}

.finance-hero__decor:nth-child(1) {
  left: 0;
  top: 20%;
}

.finance-hero__decor:nth-child(2) {
  left: 62%;
  top: 43%;
}

.finance-hero__decor:nth-child(3) {
  bottom: 20%;
  right: -25%;
  rotate: -28deg;
}

.house-decor {
  aspect-ratio: 1/.333;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.house-decor::after {
  position: absolute;
  inset: 0;
  content: "";
  background-color: rgba(0,0,0,.43);
}

.finance-tail {
  padding: 10rem 0;
}

.finance-tail__top {
  margin-bottom: 10.625rem;
  position: relative;
}

.finance-tail__top .finance-tail__title {
  margin-bottom: 5.5rem;
}

.finance-tail__ball {
  position: absolute;
  left: 0;
  top: 0;
  translate: -35% -75%;
}

.finance-tail__inner {
  grid-column: 2/-1;
}

.finance-tail__cards {
  margin-bottom: 9.375rem;
}

.finance-tail__bottom {
  margin-bottom: 10.625rem;
}

.finance-tail__bottom .finance-tail__title {
  max-width: 51.125rem;
  margin-bottom: 2.75rem;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.finance-tail__bottom .finance-tail__text {
  grid-column: 2/-1;
}

.finance-tail-card {
  border-bottom: .0625rem solid #474747;
  padding: 2.75rem 0 4.1875rem;
}

.finance-tail-card:first-child {
  border-top: .0625rem solid #474747;
}

.finance-tail-card__inner {
  max-width: 99.375rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.finance-tail-card__title {
  font-family: "Roboto",sans-serif;
  font-size: 1.5rem;
  line-height: 90.72%;
  color: #474747;
  max-width: 14.4375rem;
}

.finance-tail-card__price {
  font-family: "Jost",sans-serif;
  font-weight: 300;
  font-size: 18.75rem;
  line-height: 90.72%;
  color: #474747;
}

.finance-start {
  padding: 3.125rem 0;
  background-color: #b6ab94;
}

.finance-start__content {
  height: 100vh;
  -ms-flex-line-pack: center;
      align-content: center;
  max-height: 56.5625rem;
}

.finance-start__title {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  color: #000;
  max-width: 51.125rem;
  margin-bottom: 2.75rem;
}

.finance-start__text {
  grid-column: 2/-1;
  color: #000;
}

.finance-house {
  background-color: #050505;
}

.finance-house__inner {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.finance-house__decor {
  position: absolute;
  top: 0;
  left: 0;
  translate: -35% -50%;
  z-index: 1;
}

.work-page__head {
  padding: 12.3125rem 0 38.75rem;
}

.work-page__title {
  text-align: center;
  margin: 0 auto;
  max-width: 44.375rem;
}

.work-page__steps {
  display: -ms-grid;
  display: grid;
  gap: 21.125rem;
}

.work-page__decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 48.4375rem;
  position: relative;
}

.work-page__decor-calc {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  z-index: 1;
}

.work-step {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.work-step:nth-child(odd) .work-step__decor {
  left: 0;
  translate: -55% 0;
}

.work-step:nth-child(odd) .work-step__info {
  padding-left: .625rem;
}

.work-step:nth-child(odd) .work-step__info::before {
  border-radius: 0 0 0 29px;
  border-left: 1px solid #b6ab94;
}

.work-step:nth-child(odd) .work-step__info::after {
  left: 11.9375rem;
}

.work-step:nth-child(even) .work-step__info {
  padding-right: .625rem;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  text-align: right;
  margin-left: auto;
}

.work-step:nth-child(even) .work-step__info::before {
  right: 0;
  border-right: 1px solid #b6ab94;
  border-radius: 0 0 29px 0;
}

.work-step:nth-child(even) .work-step__info::after {
  right: 11.375rem;
}

.work-step:nth-child(even) .work-step__decor {
  right: 0;
  translate: 60% 0;
}

.work-step:nth-child(even) .work-step__img {
  margin-left: auto;
}

.work-step__img {
  border-radius: 1.1875rem;
  overflow: hidden;
  max-width: 48.25rem;
}

.work-step__img-decor {
  aspect-ratio: 1/1;
  width: 14rem;
  position: relative;
  z-index: 2;
}

.work-step__info {
  max-width: 52.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  position: relative;
}

.work-step__info::before {
  position: absolute;
  bottom: calc(100% + 3.3125rem);
  content: "";
  width: 11.9375rem;
  z-index: -1;
  height: 40.9375rem;
  border-bottom: 1px solid #b6ab94;
}

.work-step__info::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 0 solid rgba(0,0,0,0);
  border-left-width: 5.5px;
  border-right-width: 5.5px;
  border-top: 11px solid #b6ab94;
  bottom: calc(100% + 2.6875rem);
}

.work-step__title {
  font-family: "Roboto",sans-serif;
  font-weight: 300;
  font-size: 3rem;
  line-height: 121%;
  color: #b6ab94;
}

.work-step__text {
  font-family: "Roboto",sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 121%;
  color: #b6ab94;
}

.work-step__decor {
  position: absolute;
  top: 100%;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 120.125em) {
  .title-lg,
  .work-page__title,
  .finance-start__title,
  .finance-tail__title,
  .finance-hero__title,
  .dev-nation__title,
  .dev-acc__title,
  .dev-lot__title,
  .dev-prem__title {
    font-size: 6rem;
  }

  .calculator input,
  .calculator__button,
  .calculator__send {
    height: 5.9375rem;
  }
}

@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 47.99875em)and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

.webp .reviews::before { background: url(../img/decors/review-decor-2.webp) top left/contain no-repeat; }

.webp .image-container__block { background: url(../img/dev-hero-bg.webp) center/auto no-repeat; }